<div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Mongo Collection</label>
    <select class="form-control" (click)="onColsSelect($event)">
      <option value=''>select</option>
      <option *ngFor="let col of _mongoCols">{{col}}</option>
    </select>
  </div>
</div>
<app-custom-table *ngIf="_mongoDocs.length>0" [_mongoDocs]="_mongoDocs" [formType]="('Update')" (messageEvent)="receiveMessage($event)">
</app-custom-table>
<button type="submit" *ngIf="_trackData.length>0" class="btn btn-outline-primary mr-1"
  (click)="onSubmit()">Submit</button>
<!-- *ngIf="_trackData.length>0" -->